/* Algemene elementen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alumni Sans', sans-serif;
}

.counter {
    color: #000;
}

main {
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

main .card {
    max-width: 300px;
    background-color: #6d0d9d67;
    flex: 1 1 210px;
    text-align: center;
    height: 400px;
    border: 1px solid #000;
}

main .card .image {
    height: 50%;
    margin-bottom: 20px;
}

main .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .card .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 3em;
    height: 25%;
}

main .card .caption h1 {
    font-size: 1.5rem;
}

del {
    text-decoration: line-through;
}

main .card .caption .rate {
    display: flex;
}

main .card .caption .rate i {
    color: gold;
    margin-right: 20px;
    margin-left: 2px;
}

main .card a {
    width: 50%;
}


h4 {
    font-size: 26px;
    text-transform: capitalize;
    text-decoration: none;

}

a {
    text-decoration: none;
}

body {
    width: 100%;
}

div {
    display: block;
}

.fa-solid,
.fas {
    height: 40px;
    width: 40px;
}





.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
}

.button:hover {
    background: rgba(100, 0, 0, .03);
}

.button__horizontaal,
.button__verticaal {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}

.button__horizontaal::before,
.button__verticaal::before {
    content: '';
    position: absolute;
    border: inherit;
}

.button__horizontaal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontaal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontaal {
    transform: scaleX(0);
}

.button__verticaal {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}

.button__verticaal::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
    transform: scaleY(0);
}

.menu-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: -50px;
}



ul {
    list-style: none;
}

header {
    background-color: #cc961d;
    width: 100%;
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}


header a {
    text-decoration: none;
    color: #FFF;
}


.nav-right {
    flex: 1;
    text-align: right;
    margin-right: 10px;
}




.buttons {
    display: flex;

}

.btn1 {
    height: 60;
    width: 200px;
    border-radius: 20px;
    background: #cc961d;
    left: 50px;
}

.btn2 {
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background: #450345;
    margin-left: 60px;
}












/* Main */
.catagorie-restaurant {
    margin-top: 10px;
}

.catagorie-restaurant li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    top: 10px;
    font-size: 30px;

}

.row {
    left: 5%;
    right: 5%;
    display: inline-block;
    height: 88%;
    align-items: center;
    position: relative;
}

.text-main {
    text-decoration: none;
    margin-top: 180px;
}

.container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container-menu {
    width: 1200px;
    margin: 0 auto;
}

/* Navigation Overlay */
.menu-open {
    font-size: 20px;
    cursor: pointer;
}

nav {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #383333a0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav a {
    display: block;
    text-decoration: none;
}

.nav-links {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 100px;
    position: relative;
    padding: 10px;
}

.nav-links::before {
    content: '';
    height: 1px;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #cc961d;
    transition: all 0.3s ease;
}

.nav-links::after {
    content: '';
    height: 1px;
    width: 0%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #cc961d;
    transition: all 0.3s ease;
}

.nav-links:hover {
    color: #cc961d;
}

.nav-links:hover::after,
.nav-links:hover::before {
    width: 50%;
}

.nav-links-social {
    display: flex;
    justify-content: center;
}

.nav-links-social span {
    padding: 0 25px;
}

.nav-links-social span i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-links-social span i:hover {
    color: #cc961d;
}

.nav-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;

}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

/* Scrollbar overflow Y */

/* Lengte Scrollbar */
::-webkit-scrollbar {

    width: 10px;
    height: -10px;
}

/* omhoog  en omlaag van scrollbar arrow symbolen verbergen */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 10px;
    background-color: #333;
}

/*Kleur achtergrond scrollbar */
::-webkit-scrollbar-track-piece {
    background-color: #333;

}

/* Kleur van de scrollbar pijl van de y as*/
::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #cc961d;
    border: 1px solid #000;

}