/* Algemene elementen */
*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Alumni Sans', sans-serif;
    
    
}
div{
    display: block;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}
ul{
    list-style: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
   
    
}
.btn-container{
    text-align: center;
    margin-top: 360px;
}
.btn{
    border: 1px solid  #cc961d;
    background:none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
}
.btn1, .btn2{
    color: #cc961d;
}
.btn1:hover,.button2:hover{
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #cc961d;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.btn2::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}
.btn1:hover::before,.btn2:hover::before{
    height: 0%;
}
/* Header */


.line{
    border-style:solid;
    border-color: #cccc;
    width:80%;
    margin-left: 8%;
    margin-right: 8%;
}
.icons-menu{
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: relative;
    margin-bottom: 25px;
    top:10px;
    right: 55%;

}

/* Main */
.catagorie-restaurant{
    margin-top:10px;
}
.catagorie-restaurant li{
    list-style:none;
    display: inline-block;
    text-decoration: none;
    top: 10px;
    font-size: 30px;
    
}

.row {
    left: 10%;
    right: 10%;
    display: inline-block;
    height: 88%;
    align-items: center;
    position: relative;
}
.text-main{
    text-decoration: none;
    margin-top: 180px;
}


/* Footer */