/* Algemene elementen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Alumni Sans', sans-serif;


}
a{
    text-decoration: none;
}
body{
    width: 100%;
}
div {
    display: block;
}
header{
    background-color: #1884f8;
}
.menu-open{
    font-size: 20px;
    cursor: pointer;
}
.button{
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
}
.button:hover {
    background: rgba(100, 0, 0, .03);
}
.button__horizontaal, .button__verticaal {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}
.button__horizontaal::before, .button__verticaal::before {
    content: '';
    position: absolute;
    border: inherit;
}
.button__horizontaal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontaal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontaal {
    transform: scaleX(0);
}
.button__verticaal {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__verticaal::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}
.button:hover .button__vertical {
    transform: scaleY(0);
}

.menu-icons a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
    margin-top: 20px;
    margin-right: 70px;
    margin-left: -50px;
}
.menu-container{
    display: inline-block;
    cursor: pointer;
    font-family: none;
    position: absolute;
    margin-top: 20.25px;
    right: 20px;

  }

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}


ul {
    list-style: none;
}

nav {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    
}
 

nav ul li {
    list-style: none;
    display: inline-block;
    
    margin-right: 5px;

}
.buttons{
    display: flex;
    
}

.btn1{
    height: 60;
    width: 200px;
    border-radius: 20px;
    background: #cc961d;
    margin-left: 25px;

}
.btn2{
    height: 60px;
    width: 200px;
    border-radius: 20px;
    background: #450345;
    margin-left: 25px;
}
/* Header */




.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


/* Main */
.catagorie-restaurant {
    margin-top: 10px;
}

.catagorie-restaurant li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    top: 10px;
    font-size: 30px;

}

.row {
    left: 5%;
    right: 5%;
    display: inline-block;
    height: 88%;
    align-items: center;
    position: relative;
}

.text-main {
    text-decoration: none;
    margin-top: 180px;
}


/* Footer */
