.footer {
    padding: 40px 0;
    background-color: #24262b;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #ffffff;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin: top;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 0;
    margin-left: 32%;
    margin-right: 32%;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
}
.placeholder{
    color: transparent;
}
